
body {
    font-family: fantasy;
    font-size:17px;
    margin: 0px 0px 0px 0px;
}
body .RenderBody{
        display: flex;
}
.HeaderSearchBtn {
    margin-left: 5px;
    border: 1px solid black;
    color: black;
    border-radius: 5px;
    padding: 2px 3px 2px 3px;
    text-decoration: none;
    background-color: rgba(123, 174, 205, 1);
}
    .HeaderSearchBtn:hover {
        background-color: white;
        box-shadow:rgba(0,0,0,0.3) 2px 2px;
    }
.LogInBtn {
}
.ProductBox {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 220px;
    margin-left: 5px;
    margin-top: 5px;
    padding-left: 5px;
}
.Image {
    width: 200px;

}

