header .Head {
    display: flex;
    width: 100%;
    background-color: thistle
}
 body{
     display:flex;
     flex-direction :row;
     color:aquamarine;
 }
body .RenderBody{
        display: flex;
        background-color: brown;
}
