@model Product

<div>
    <img class="Image" src="@Model.Image" />
    <h3>@Model.Name</h3>
    <div>
        <p>@Model.Price</p>
    </div>
   
    <span>@Model.Description</span>
</div>

<form id=@Model.Id asp-action=AddToCart asp-controller="Cart" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" name="returnUrl" value=@ViewContext.HttpContext.Request.PathAndQuery() />
    <span class="lead">
        <button type="submit" class="btn btn-success btn-sm pull-right">
            Add to Cart
        </button>
    </span>

</form>