@model Brand

<div>
    <a href="">
        <div>
            <img src="~/@Model.Image" />
            <p>@Model.DisplayName</p>
        </div>
    </a>
    <a href="~/Product/Brands/@Model.Id">Brand Info</a>
</div>
