@model Brand

<div class="ProductBox">
        <div>
            <img src="~/@Model.Image" />
            <a asp-controller="Product" asp-action="BrandInfo" asp-route-id="@Model.Id">@Model.DisplayName</a>
        </div>
    <a asp-controller="Product" asp-action="List" asp-route-brand=@Model.Id>List of products</a>
    <a asp-controller="Product" asp-action="BrandInfo" asp-route-id=@Model.Id>Brand Info</a>
</div>
