<html>
   <head>
    <link href="~/css/Style.css" rel="stylesheet" />
    <link rel="stylesheet" asp-href-include="lib/dist/bootstrap/css/*.min.css" />
    <link rel="stylesheet" asp-href-include="lib/font-awesome/css/*.css" />
   </head>

   <body>
       <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow mb-3 header ">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active Font" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active Font" asp-controller="Product" asp-action="Brands">Brands</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active Font" asp-controller="Product" asp-action="List">Catalog</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active Font" asp-controller="Order" asp-action="OrderList">Order List</a>
                </ul>
                <a class="navbar-brand d-flex justify-content-center Font"  asp-controller="Home" asp-action="Index">Perfumery Store</a>
                @await Component.InvokeAsync("CartSummary")
                <partial name="_LoginPartial" />

            </div>
        </nav>

    </header>

    <div class="RenderBody">
           @RenderBody()
       </div>
    @RenderSection("Scripts",false)

    <script src="~/lib/jquery/jquery.js"></script>
    <partial name="_ValidationScriptsPartial" />
   </body>

</html>