<html>
   <head>
    <link href="~/css/Style.css" rel="stylesheet" />
    <link rel="stylesheet" asp-href-include="lib/dist/bootstrap/css/*.min.css" />
    <link rel="stylesheet" asp-href-include="lib/font-awesome/css/*.css" />
   </head>

   <body>
    <nav  style="background-color:rgba(200, 152, 176, 1); padding: 5px 5px 5px 5px;">
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Product" asp-action="Brands">Brands</a>
        <a asp-controller="Product" asp-action="List">Catalog</a>
        @await Component.InvokeAsync("CartSummary")
        <form style="display:inline-flex" >
            <input class=""  placeholder="Search"> 
            <a class="HeaderSearchBtn">Search</a>
        </form>
        <partial name="_LoginPartial" />
    </nav>

       <div class="RenderBody">
           @RenderBody()
       </div>
    @RenderSection("Scripts",false)

    <script src="~/lib/jquery/jquery.js"></script>
    <partial name="_ValidationScriptsPartial" />
   </body>

</html>