<html>
   <head>
    <link href="~/css/Style.css" rel="stylesheet" />
   </head>

   <body>
       <header class="Head">
       
       </header>

       <div class="RenderBody">
           @RenderBody()
       </div>

   </body>

</html>